h1{
    color: black;
    text-align: center;
}

h2{
    color: rgb(63, 62, 62);
    text-align: center;
}
body{
    max-width: 600px;
    border: 2px solid rgb(197, 197, 197);
    margin: auto;
    
}